.contact1 {
    width: 30rem;
    height: 40rem;
    background-color: rgb(241, 236, 236);
    padding: 12rem;
    margin-top: -180rem;
    margin-left: 85rem;
    /* position: absolute; */
}

.contact1_title {
    font-family: Arial, sans-serif;
    /* text-align: center; */
    font-size: 3rem;
    color: #7c7979;
    align-items: center;
}

.form {
    margin-left: -10rem;
    margin-top: -10rem;
    align-items: center;
}

h4 {
    position: absolute;
    margin-top: -180px;
}

 form {
    font-size: 120%;
} 

input[type=text],
input[type=email],
input[type=number] {
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 12px solid rgb(226, 226, 226);
} 

textarea {
    width: 97%;
    /* padding: 12px 20px; */
    margin: 8px 0;
    display: inline-block;
    border: none;
}

.btn1[type=submit] {
    color: white;
    padding: 12px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    background-color: #ffc107;

    &:hover {
        background-color: rgba(255, 169, 16, 0.3);
    }

    &:active {
        background-color: rgba(255, 169, 16, 0.8);
    }
}

@media screen {
    @media (max-width: 992px) {

        input[type=text],
        input[type=email],
        input[type=number] ,select {
            width: 100%;
        }

        .container {
            max-width: 100%;
        }

        button[type=submit] {
            width: 100%;
            margin-top: 16px;
        }
    }
}