
    .Header {
        width: 100vw;
        display: flex;
        display: fixed;
        list-style: none;
        text-decoration: none;
        font-size: 14px;
        width:100vw;
        position: fixed;
        top:0;
        left:0;
        right: 0;
        z-index:30;
        background-color: transparent   ;
        color:black;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

 @media(max-width:768px){
    .Header{
        
    }
    /* .Header.active {
        display: block;
      } */
}
.Header-left {
    /* display: flex; */
    font-size: 30px;
    margin-top: 30px;
    position: fixed;
    padding: 1px;
}

.Header-right ul {
    display: flex;
    list-style: none;
    color: #607290;
    margin-left: 250px;
    font-size: 17px;
    position: fixed;
}

.Header-right ul:hover {
    color: rgb(13, 11, 11);
}

.Header-right ul li {
    justify-content: space-between;
    padding: 20px;
    margin-top: 22px;
    color:black;
    font-size: 16px;

}

.Header-right ul li:hover {
    color: rgb(16, 4, 4);
    cursor: pointer;
    text-decoration: none;

}

.btn-log {
    width: 165px;
    height: 48px;
    /* padding: 7px 24px 11px; */
    font-size: 16px;
    color: #0be156;
    border-radius: 20px;
    margin-top: -10px;
    position: fixed;
}

/* 
.btn-login {
    width: 165px;
    height: 48px;
    padding: 7px 24px 11px;
    font-size: 14px;
    color: #c67474;
    border-radius: 20px;
    margin-top: 30px;
} */
